
/* Colours */

$bg-color: #5c8096;
$primary-color: #9ebcc7;
$accent-color: #c7a800;
$text-color: #444;

/* General typography and formatting */

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight:bold;
  color: $text-color;
}

p, li, th, td, .button {
  font-family: "Lato", sans-serif;
  font-size: 13pt;
  line-height: 1.5em;
  color: $text-color;
}

/* Buttons */

%button-base {
  display: inline-block;
  margin: 10px;
  border-radius: 0.8em;
  padding: .3em 1.1em;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out;
}

.button {
  @extend %button-base;

  color: white;
  background: $primary-color linear-gradient(180deg, lighten($primary-color, 2%), darken($primary-color, 8%)) repeat-x;
  border: 3px solid darken($primary-color, 10%);

  &:hover {
    background: $primary-color linear-gradient(180deg, lighten($primary-color, 7%), darken($primary-color, 3%)) repeat-x;
    border-color: darken($primary-color, 5%);
  }
}

.button-main {
  @extend %button-base;

  color: white;
  background: $accent-color linear-gradient(180deg, lighten($accent-color, 4%), darken($accent-color, 3%)) repeat-x;
  border: 3px solid darken($accent-color, 6%);

  &:hover {
    background: $accent-color linear-gradient(180deg, lighten($accent-color, 9%), darken($accent-color, 0%)) repeat-x;
    border-color: darken($accent-color, 3%);
  }
}

/* Sections */

#welcome {
  width: 100%;
  background: $bg-color;

  .centered {
    width: 100%;
    min-height: calc(100vh - 5em);
    display: flex;
    align-items: center;
    justify-content:center;
  }

  img {
    width: 100%;
    max-width: 960px;
  }

  p {
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
  }
}

#bubble {
  background: $bg-color;

  p {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    line-height: 0;
  }
}

#comments {
  #quvyn {
    max-width: 800px;
    margin: 0 auto 3em auto;
    padding: 0 8px;
  }

  .qv-heading {
    margin-top: 0;
    padding-top: 0.8em;
  }
}

footer {
  p {
    margin: 0;
    padding: 8px 8px;
    text-align: center;
    font-size: 10pt;
  }
}

/* Misc */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
